 :root{
    --main-color: #7a6960;
    --secondary-color: #4e4039;
    --button-color: #eb5d1e;
    --backgr-color: #fef8f5;
    --icon-color: #f39e7a;
}
h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Raleway", sans-serif;
}


/* Start Navbar */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.navbar-brand{
    color: var(--main-color);
    font-size: 30px;
}
.Home{
    color: var(--button-color) !important;
}
.navbar-nav a{
    color: var(--secondary-color);   
    font-size: 15px;
}
.navbar-nav a:hover{
    color: var(--button-color);   
    font-size: 15px;
}

.navbar-nav button{
    font-size: 15px;
    color: white;
    background-color: var(--backgr-color);
}

/* End Navbar */

/* Start Header section */
.head{
    background-color: var(--backgr-color);
    width: auto;
    height: 75vh;
    margin-top: 70px;
    padding-top: 60px;
}

.head h1{
    color: var(--secondary-color);
    font-size: 48px;
    width: 70%;
    font-weight: 700;
    line-height: 60px;
}
.head h2{
    color: var(--main-color);
    font-size: 24px;
    width: 80%;
}
.head button{
    background-color: var(--button-color);
    color: white;
    font-family: "Raleway", sans-serif;
    padding: 8px 30px 8px 30px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.5s;   
}


.head button:hover{
    background-color:  #ef7f4d;
    
}


/* IMG Animation */

.hero{
    position: relative;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-name: hero;
}

@keyframes hero {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
  }

/* IMG Animation */

/* End Header section */

/* Start About Us section */

.aboutUs{
    padding: 70px 0; 
    height: 50vh;

}
.icons{
    padding-top: 25px;
}
.icons svg{
    padding-bottom: 2px;
    color: var(--icon-color);
}
.icons p{
    font-size: 15px;
    color: #5a6570;
}
/* End About Us section */

/* Start services section */
.services{
    background-color: var(--backgr-color);
    height: 65vh;
}

.services h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;

}

.caption {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
}

.caption p::after{
    content: " ";
    background-color: var(--button-color);
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: 2px;
    left: 47%;
}

.ourServices {
    padding: 15px;
}
.ourServices div {
    background-color: white;
    width: 255px;
    height: 275px;
    padding: 30px;
    margin: 0 15px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    border-bottom: 3px solid #fff;
    box-shadow: 0 10px 30spx 0 rgba(68, 88, 144, 0.1);


}
.ourServices div:hover{
    /* top: -10px;
   border-bottom-style: solid;
   border-bottom: -5px; */
   border-color: var(--button-color);
   transform: translateY(-5px);


}

.ourServices svg{
    color: var(--button-color);
    height: 35px;
    width: 35px;
    margin-bottom: 12px;
}

.ourServices h4{
    color:black;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
    /* font-family: "Raleway", sans-serif; */
}

/* End services section */

/* Stat Portfolio section */

.Portfolio{
    background-color: white;
    height: auto;
    text-align: center;
}

.Portfolio h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    margin-top: 40px;
    color: #c2b7b1;

}

.par {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
}

.par::after{
    content: " ";
    background-color: var(--button-color);
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: 2px;
    left: 46%;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}


.Portfolio button{
    color: #212529;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;   
}

.Portfolio button:hover{
    color: var(--button-color);
    text-decoration: none;
}



/* End Portfolio section */

/* Start FAQ section */
.faq {
    padding: 60px 0;
  }
  
  .faq .faq-list {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li {
    padding: 0 0 20px 25px;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: #eb5d1e;
    font-size: 18px;
    font-weight: 600;
    color: #eb5d1e;
  }
  
  .faq .faq-list i {
    font-size: 18px;
    position: absolute;
    left: -25px;
    top: 6px;
  }
  
  .faq .faq-list p {
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .faq .faq-list a.collapse {
    color: #eb5d1e;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #eb5d1e;
  }
  
  .faq .faq-list a.collapsed i::before {
    content: "\eab2" !important;
  }
/* End FAQ section */