 :root{
    --main-color: #7a6960;
    --secondary-color: #4e4039;
    --button-color: #eb5d1e;
    --backgr-color: #fef8f5;
}
h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Raleway", sans-serif;
}


/* Start Navbar */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.navbar-brand{
    color: var(--main-color);
    font-size: 30px;
}
.Home{
    color: var(--button-color) !important;
}
.navbar-nav a{
    color: var(--secondary-color);   
    font-size: 15px;
}
.navbar-nav a:hover{
    color: var(--button-color);   
    font-size: 15px;
}

.navbar-nav button{
    font-size: 15px;
    color: white;
    background-color: var(--backgr-color);
}

/* End Navbar */

/* Start Header section */
.head{
    background-color: var(--backgr-color);
    width: auto;
    height: 75vh;
    margin-top: 70px;
    padding-top: 60px;
}

.head h1{
    color: var(--secondary-color);
    font-size: 48px;
    width: 70%;
    font-weight: 700;
    line-height: 60px;
}
.head h2{
    color: var(--main-color);
    font-size: 24px;
    width: 80%;
}
.head button{
    background-color: var(--button-color);
    color: white;
    padding: 8px 30px 8px 30px;
    font-weight: 500;
    font-size: 16px;
}

/* IMG Animation */

.hero{
    position: relative;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-name: hero;
}

@keyframes hero {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
  }

/* IMG Animation */

/* End Header section */

/* Start About Us section */

.aboutUs{
    padding: 70px 0; 
    height: 50vh;

}
.icons{
    padding-top: 25px;
}
.icons svg{
    padding-bottom: 2px;
    color: var(--button-color);
}
.icons p{
    font-size: 15px;
    color: #5a6570;
}
/* End About Us section */

/* Start services section */
.services{
    background-color: var(--backgr-color);
    height: 50vh;
}

.services h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;

}

.services p{
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
}

.services p::after{
    content: " ";
    background-color: var(--button-color);
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: 2px;
    left: 47%;
}
/* End services section */